.book-list-container {
  .crypto-gif {
    width: 100%;
    position: absolute;
  }
  .paper-card {
    > .book-container {
      height: 600px;
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
    }
    > .tab-group {
      display: flex;
      > .tab {
        cursor: pointer;
        margin-left: 20px;
      }
      > .tab:last-child {
        border-left: 1px solid #8e8e8e;
        padding-left: 20px
      }
      > .tab:hover {
        color: blue;
      }
    }
    margin-top: 20px;
    margin-left: auto;
    width: 800px;
    margin-right: auto;
    background-color: white;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    > .title {
      text-align: left;
      display: flex;
      > h1 {
        margin-top: 5px;
        width: 100%;
      }
      > .btn {
        width: 128px;
        height: 18px;
      }
    }
    .paper:last-child {
      border-bottom: unset;
    }
    .paper:hover {
      background-color: whitesmoke;
    }
    .paper {
      margin-left: 20px;
      margin-right: 20px;
      cursor: pointer;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
      overflow: hidden;
      width: 160px;
      text-align: center;
      > h3 {
        word-spacing: unset;
        word-spacing: unset;
        overflow: hidden;
        height: 22px;
        text-overflow: ellipsis;
      }
      img {
        width: 100px;
        height: 150px;
      }
      > .short-description {
        font-weight: 100;
        width: 300px;
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-spacing: unset;
        word-break: unset;
        white-space: nowrap;
      }
      > .title {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;
      }
      > .editor {
        opacity: 0.7;
        font-weight: 400;
        font-size: 12px;
        width: fit-content;
        margin-left: auto;
      }
    }
  }
}
