.book-list-container {
  .crypto-gif {
    width: 100%;
    position: absolute;
  }
  .paper-card {
    > .book-container {
      height: 600px;
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
    }
    > .tab-group {
      display: flex;
      border-bottom: 1px solid #4b6475;
      padding-bottom: 20px;
      > .tab {
        cursor: pointer;
        margin-left: 20px;
      }
      > .tab:last-child {
        border-left: 1px solid #8e8e8e;
        padding-left: 20px;
      }
      > .tab:hover {
        color: blue;
      }
    }
    margin-top: 20px;
    margin-left: auto;
    width: 900px;
    margin-right: auto;
    background-color: #ffffffbd;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    > .title {
      align-items: center;
      text-align: left;
      display: flex;
      > svg {
        color: #487fcc;
        margin-left: 15px;
        font-size: 35px;
        margin-right: 20px;
      }
      > h1 {
        width: 100%;
      }
      > .btn {
        width: 128px;
        height: 18px;
      }
    }
    .paper:last-child {
      border-bottom: unset;
    }
    .paper:hover {
      background-color: #506b8291;
    }
    .paper {
      margin-left: 20px;
      margin-right: 20px;
      cursor: pointer;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
      overflow: hidden;
      width: 200px;
      text-align: center;
      .view {
        font-size: 12px;
        margin-top: 5px;
        color: #8c8b8b;
        svg {
          margin-right: 10px;
        }
      }
      > h3 {
        word-spacing: unset;
        word-spacing: unset;
        overflow: hidden;
        height: 22px;
        text-overflow: ellipsis;
      }
      img {
        width: 100px;
        height: 150px;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
          0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
      }
      > .short-description {
        font-weight: 100;
        width: 300px;
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-spacing: unset;
        word-break: unset;
        white-space: nowrap;
      }
      > .title {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;
      }
      > .editor {
        opacity: 0.7;
        font-weight: 400;
        font-size: 12px;
        width: fit-content;
        margin-left: auto;
      }
    }
  }
}
