.create-paper-container {
  .create-card {
    > .create-form {
      display: flex;
      margin-bottom: 20px;
      .create-type-container {
        display: flex;
        > .button {
          cursor: pointer;
          color: white;
          background: #949494;
          border: 1px solid #949494;
          padding: 0px 15px;
          font-size: 13px;
          border-radius: 3px;
        }
        > .button:last-child {
          margin-left: 20px;
        }
        > .button:hover {
          background: black;
        }
      }
      > .form {
        align-items: center;
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        .free {
          font-size: 12px;
          margin-left: 20px;
          width: 82px;
          text-align: right;
        }
        > input {
          height: 15px;
          width: 160px;
          border-radius: 5px;
          border: 1px solid #eeeeee;
          margin-left: 10px;
          &.price {
            width: 100px;
          }
        }
        .unit {
          font-size: 10px;
          margin-left: 10px;
        }
      }
    }
    margin-top: 20px;
    margin-left: auto;
    width: 800px;
    margin-right: auto;
    background-color: white;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    > .title {
      text-align: center;
    }
  }
  .editor-section {
    textarea {
      min-height: 400px;
      width: 100%;
    }
  }
  .btn {
    margin-top: 10px;
  }
}
