.create-book-container {
  .create-card {
    margin-top: 20px;
    margin-left: auto;
    width: 800px;
    margin-right: auto;
    background-color: white;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    > .title {
      text-align: center;
    }
  }
  .editor-section {
    min-height: 400px;
    .image-container {
      margin-right: auto;
      margin-left: auto;
      width: fit-content;
    }
    .amount {
      text-align: center;
      font-size: 30px;
    }
    .view {
      font-size: 12px;
      margin-top: 5px;
      color: #8c8b8b;
      text-align: center;
      svg {
        margin-right: 10px;
      }
    }
  }
  .button-group {
    display: flex;
    > .btn.purchase {
      background-color: #6cd46b;
    }
  }
  .btn {
    margin-top: 10px;
  }
}
