.navbar {
  background-color: #4b6475;;
  border-bottom: 2px solid #169eff;
  width: 100%;
  height: 50px;
  display: flex;
  .project-name {
    padding: 8px;
    font-size: 25px;
    color: #d6d6d6;
    cursor: pointer;
  }
  .wallet {
    align-items: center;
    margin-left: auto;
    color: #d6d6d6;
    .coin {
      padding: 15px;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }
}
