body {
  margin: 0;
  background-image: url("./../images/images.png");
  background-position: center;
  background-position-y: 1110px;
}

* {
  font-family: monospace;
}

.btn {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 5px;
  padding: 10px 50px;
  border: 1px solid black;
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: black;
}

.swal-footer {
  text-align: center !important;
}
